<h1>All Contacts</h1>
<%# binding.pry %>

<ul>
	<% @contacts.each do |contact| %>

	<li><a href="/contacts/<%= contact.id %>"><%= contact.first_name %> <%= contact.last_name %> <%= contact.note %> <%= contact.id %> </a></li>
	<% end %>
</ul>