<h1>All Contacts</h1>
<%# binding.pry %>

<ul>
<% $rolodex.contacts.each do |contact| %>
	<a href="/contacts/<%= contact.id%>"><li><%= contact.first_name %> <%= contact.last_name %> <%= contact.email %> <%= contact.note %> <%= contact.id %></li></a>
	<% end %>
</ul>